/* Hide completely on small screens */
.slider {
  display: none !important;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* Show on medium and above */
@media (min-width: 800px) {
  .slider {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 4rem;
    z-index: 10;
    height: calc(100vh - 6.25rem);
    align-items: flex-start;
    visibility: visible;
    overflow: visible;
  }

  .slider.sides_Left {
    left: 4rem;
    height: calc(100vh - 6.25rem);
    align-items: flex-start;
  }

  .slider .nav__wrapper {
    display: block;
  }

  .slider .nav__wrapper #side_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 250px;
    left: 0;
  }

  .slider .nav__wrapper #side_nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 1px;
    height: 100%;
    background-color: aliceblue;
    opacity: 0.4;
  }

  .slider .nav__wrapper #side_nav li a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
    transition: all 0.5s ease-in-out;
  }

  .slider .nav__wrapper #side_nav .line {
    height: 50px;
    width: 3px;
    background-color: #d1e3fc;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .slider .nav__wrapper #side_nav li:nth-child(2):hover ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(2).active ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(2).passedSection:hover ~ .line {
    transform: translateY(50px);
  }

  .slider .nav__wrapper #side_nav li:nth-child(3):hover ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(3).active ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(3).passedSection:hover ~ .line {
    transform: translateY(100px);
  }

  .slider .nav__wrapper #side_nav li:nth-child(4):hover ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(4).active ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(4).passedSection:hover ~ .line {
    transform: translateY(150px);
  }

  .slider .nav__wrapper #side_nav li:nth-child(5):hover ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(5).active ~ .line,
  .slider .nav__wrapper #side_nav li:nth-child(5).passedSection:hover ~ .line {
    transform: translateY(200px);
  }
}
